<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning velocity from scratch</title>
</head>
<body>
    <h3>velocity learning...${message}</h3>
</body>
</html>
