<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oasis.vend.manage.mapper.AisleMapper">

	<resultMap type="Aisle" id="AisleResult">
		<result property="id" column="id" />
		<result property="code" column="code" />
		<result property="skuId" column="sku_id" />
		<result property="vmId" column="vm_id" />
		<result property="innerCode" column="inner_code" />
		<result property="maxCapacity" column="max_capacity" />
		<result property="currentCapacity" column="current_capacity" />
		<result property="lastSupplyTime" column="last_supply_time" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<sql id="selectAisleVo">
		select id, code, sku_id, vm_id, inner_code, max_capacity,
		current_capacity, last_supply_time, create_time, update_time from aisle
	</sql>

	<select id="selectAisleList" parameterType="Aisle" resultMap="AisleResult">
		<include refid="selectAisleVo" />
		<where>
			<if test="code != null  and code != ''"> and code = #{code}</if>
			<if test="skuId != null "> and sku_id = #{skuId}</if>
			<if test="vmId != null "> and vm_id = #{vmId}</if>
			<if test="innerCode != null  and innerCode != ''"> and inner_code =
				#{innerCode}</if>
			<if test="maxCapacity != null "> and max_capacity = #{maxCapacity}</if>
			<if test="currentCapacity != null "> and current_capacity =
				#{currentCapacity}</if>
			<if test="lastSupplyTime != null "> and last_supply_time =
				#{lastSupplyTime}</if>
		</where>
	</select>

	<select id="selectAisleById" parameterType="Long" resultMap="AisleResult">
		<include refid="selectAisleVo" /> where id = #{id} </select>

	<insert id="insertAisle" parameterType="Aisle"> insert into aisle <trim
			prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">id,</if>
			<if test="code != null and code != ''">code,</if>
			<if test="skuId != null">sku_id,</if>
			<if test="vmId != null">vm_id,</if>
			<if test="innerCode != null">inner_code,</if>
			<if test="maxCapacity != null">max_capacity,</if>
			<if test="currentCapacity != null">current_capacity,</if>
			<if test="lastSupplyTime != null">last_supply_time,</if>
			<if test="createTime != null">create_time,</if>
			<if test="updateTime != null">update_time,</if>
		</trim>
        <trim
			prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="code != null and code != ''">#{code},</if>
			<if test="skuId != null">#{skuId},</if>
			<if test="vmId != null">#{vmId},</if>
			<if test="innerCode != null">#{innerCode},</if>
			<if test="maxCapacity != null">#{maxCapacity},</if>
			<if test="currentCapacity != null">#{currentCapacity},</if>
			<if test="lastSupplyTime != null">#{lastSupplyTime},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<insert id="insertAisleBatch" parameterType="list"> insert into aisle (id,
		code, vm_id, inner_code, max_capacity, current_capacity,
		last_supply_time, create_time, update_time) values <foreach
			collection="list" item="aisle" separator=",">
			(
			#{aisle.id},
			#{aisle.code},
			#{aisle.vmId},
			#{aisle.innerCode},
			#{aisle.maxCapacity},
			#{aisle.currentCapacity},
			#{aisle.lastSupplyTime},
			#{aisle.createTime},
			#{aisle.updateTime}
			)
		</foreach>
	</insert>

	<update id="updateAisle" parameterType="Aisle"> update aisle <trim
			prefix="SET" suffixOverrides=",">
			<if test="code != null and code != ''">code = #{code},</if>
			<if test="skuId != null">sku_id = #{skuId},</if>
			<if test="vmId != null">vm_id = #{vmId},</if>
			<if test="innerCode != null">inner_code = #{innerCode},</if>
			<if test="maxCapacity != null">max_capacity = #{maxCapacity},</if>
			<if test="currentCapacity != null">current_capacity =
		#{currentCapacity},</if>
			<if test="lastSupplyTime != null">last_supply_time =
		#{lastSupplyTime},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
		</trim>
		where id = #{id} </update>

	<delete id="deleteAisleById" parameterType="Long">
		delete from aisle where id = #{id}
	</delete>

	<delete id="deleteAisleByIds" parameterType="String"> delete from aisle
		where id in <foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
</mapper>