<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oasis.vend.manage.mapper.OperationDetailMapper">

    <resultMap type="OperationDetail" id="OperationDetailResult">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="aisleCode" column="aisle_code"/>
        <result property="availableCapacity" column="available_capacity"/>
        <result property="goodsId" column="goods_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectOperationDetailVo">
        select id, order_id, aisle_code, available_capacity, goods_id, create_time, update_time from operation_detail
    </sql>

    <select id="selectOperationDetailList" parameterType="OperationDetail" resultMap="OperationDetailResult">
        <include refid="selectOperationDetailVo"/>
        <where>
        </where>
    </select>

    <select id="selectOperationDetailById" parameterType="Long" resultMap="OperationDetailResult">
        <include refid="selectOperationDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertOperationDetail" parameterType="OperationDetail" useGeneratedKeys="true" keyProperty="id">
        insert into operation_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="aisleCode != null">aisle_code,</if>
            <if test="availableCapacity != null">available_capacity,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="aisleCode != null">#{aisleCode},</if>
            <if test="availableCapacity != null">#{availableCapacity},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <insert id="batchInsertOperationDetail" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into operation_detail
        (
        order_id, aisle_code, available_capacity, goods_id, create_time, update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderId},
            #{item.aisleCode},
            #{item.availableCapacity},
            #{item.goodsId},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
    </insert>


    <update id="updateOperationDetail" parameterType="OperationDetail">
        UPDATE operation_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="aisleCode != null">aisle_code = #{aisleCode},</if>
            <if test="availableCapacity != null">available_capacity = #{availableCapacity},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        WHERE order_id = #{orderId} AND aisle_code = #{aisleCode}
    </update>

    <delete id="deleteOperationDetailById" parameterType="Long">
        delete from operation_detail where id = #{id}
    </delete>

    <delete id="deleteOperationDetailByIds" parameterType="String">
        delete from operation_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteOperationDetailByOrderId" parameterType="Long">
        delete from operation_detail where order_id = #{orderId}
    </delete>

    <select id="selectOperationDetailsByOrderId" parameterType="OperationDetail" resultMap="OperationDetailResult">
        <include refid="selectOperationDetailVo"/>
        where order_id = #{orderId}
    </select>
</mapper>