<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oasis.vend.manage.mapper.VendingMachineMapper">
    
    <resultMap type="VendingMachine" id="VendingMachineResult">
        <result property="id"    column="id"    />
        <result property="innerCode"    column="inner_code"    />
        <result property="aisleMaxCapacity"    column="aisle_max_capacity"    />
        <result property="locationId"    column="location_id"    />
        <result property="address"    column="address"    />
        <result property="lastSupplyTime"    column="last_supply_time"    />
        <result property="businessArea"    column="business_area"    />
        <result property="regionId"    column="region_id"    />
        <result property="vendorId"    column="vendor_id"    />
        <result property="vmTypeId"    column="vm_type_id"    />
        <result property="vmStatus"    column="vm_status"    />
        <result property="runningStatus"    column="running_status"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="clientId"    column="client_id"    />
        <result property="policyId"    column="policy_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectVendingMachineVo">
        select id, inner_code, aisle_max_capacity, location_id, address, last_supply_time, business_area, region_id, vendor_id, vm_type_id, vm_status, running_status, longitude, latitude, client_id, policy_id, create_time, update_time from vending_machine
    </sql>

    <select id="selectVendingMachineList" parameterType="VendingMachine" resultMap="VendingMachineResult">
        <include refid="selectVendingMachineVo"/>
        <where>  
            <if test="innerCode != null  and innerCode != ''"> and inner_code = #{innerCode}</if>
            <if test="locationId != null "> and location_id = #{locationId}</if>
            <if test="lastSupplyTime != null "> and last_supply_time = #{lastSupplyTime}</if>
            <if test="businessArea != null "> and business_area = #{businessArea}</if>
            <if test="regionId != null "> and region_id = #{regionId}</if>
            <if test="vendorId != null "> and vendor_id = #{vendorId}</if>
            <if test="vmTypeId != null "> and vm_type_id = #{vmTypeId}</if>
            <if test="vmStatus != null  and vmStatus != ''"> and vm_status = #{vmStatus}</if>
            <if test="runningStatus != null  and runningStatus != ''"> and running_status = #{runningStatus}</if>
            <if test="policyId != null "> and policy_id = #{policyId}</if>
        </where>
    </select>
    
    <select id="selectVendingMachineById" parameterType="Long" resultMap="VendingMachineResult">
        <include refid="selectVendingMachineVo"/>
        where id = #{id}
    </select>

    <insert id="insertVendingMachine" parameterType="VendingMachine" useGeneratedKeys="true" keyProperty="id">
        insert into vending_machine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="innerCode != null">inner_code,</if>
            <if test="aisleMaxCapacity != null">aisle_max_capacity,</if>
            <if test="locationId != null">location_id,</if>
            <if test="address != null">address,</if>
            <if test="lastSupplyTime != null">last_supply_time,</if>
            <if test="businessArea != null">business_area,</if>
            <if test="regionId != null">region_id,</if>
            <if test="vendorId != null">vendor_id,</if>
            <if test="vmTypeId != null">vm_type_id,</if>
            <if test="vmStatus != null">vm_status,</if>
            <if test="runningStatus != null">running_status,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="clientId != null">client_id,</if>
            <if test="policyId != null">policy_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="innerCode != null">#{innerCode},</if>
            <if test="aisleMaxCapacity != null">#{aisleMaxCapacity},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="address != null">#{address},</if>
            <if test="lastSupplyTime != null">#{lastSupplyTime},</if>
            <if test="businessArea != null">#{businessArea},</if>
            <if test="regionId != null">#{regionId},</if>
            <if test="vendorId != null">#{vendorId},</if>
            <if test="vmTypeId != null">#{vmTypeId},</if>
            <if test="vmStatus != null">#{vmStatus},</if>
            <if test="runningStatus != null">#{runningStatus},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="clientId != null">#{clientId},</if>
            <if test="policyId != null">#{policyId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateVendingMachine" parameterType="VendingMachine">
        update vending_machine
        <trim prefix="SET" suffixOverrides=",">
            <if test="innerCode != null">inner_code = #{innerCode},</if>
            <if test="aisleMaxCapacity != null">aisle_max_capacity = #{aisleMaxCapacity},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
            <if test="address != null">address = #{address},</if>
            <if test="lastSupplyTime != null">last_supply_time = #{lastSupplyTime},</if>
            <if test="businessArea != null">business_area = #{businessArea},</if>
            <if test="regionId != null">region_id = #{regionId},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="vmTypeId != null">vm_type_id = #{vmTypeId},</if>
            <if test="vmStatus != null">vm_status = #{vmStatus},</if>
            <if test="runningStatus != null">running_status = #{runningStatus},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="clientId != null">client_id = #{clientId},</if>
            <if test="policyId != null">policy_id = #{policyId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVendingMachineById" parameterType="Long">
        delete from vending_machine where id = #{id}
    </delete>

    <delete id="deleteVendingMachineByIds" parameterType="String">
        delete from vending_machine where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>