<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oasis.vend.manage.mapper.VmTypeMapper">
    
    <resultMap type="VmType" id="VmTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="image"    column="image"    />
        <result property="rowCount"    column="row_count"    />
        <result property="colCount"    column="col_count"    />
        <result property="aisleMaxCapacity"    column="aisle_max_capacity"    />
    </resultMap>

    <sql id="selectVmTypeVo">
        select id, name, code, image, row_count, col_count, aisle_max_capacity from vm_type
    </sql>

    <select id="selectVmTypeList" parameterType="VmType" resultMap="VmTypeResult">
        <include refid="selectVmTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
        </where>
    </select>
    
    <select id="selectVmTypeById" parameterType="Long" resultMap="VmTypeResult">
        <include refid="selectVmTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertVmType" parameterType="VmType" useGeneratedKeys="true" keyProperty="id">
        insert into vm_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="rowCount != null">row_count,</if>
            <if test="colCount != null">col_count,</if>
            <if test="aisleMaxCapacity != null">aisle_max_capacity,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="rowCount != null">#{rowCount},</if>
            <if test="colCount != null">#{colCount},</if>
            <if test="aisleMaxCapacity != null">#{aisleMaxCapacity},</if>
         </trim>
    </insert>

    <update id="updateVmType" parameterType="VmType">
        update vm_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="rowCount != null">row_count = #{rowCount},</if>
            <if test="colCount != null">col_count = #{colCount},</if>
            <if test="aisleMaxCapacity != null">aisle_max_capacity = #{aisleMaxCapacity},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVmTypeById" parameterType="Long">
        delete from vm_type where id = #{id}
    </delete>

    <delete id="deleteVmTypeByIds" parameterType="String">
        delete from vm_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>